<!-- Masthead -->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-75 home-logo">
            <h1>Midland Community Farmers Market</h1>
        </div>
        <hr class="my-4">
        <div class="row h-25 justify-content-center text-success">
           <h3><%= homeDate%></h3>
        </div>
    </div>
</header>