<div class="row my-5">
    <h5>You can't register for any event right now. The weekly market registration opens Monday - Thursday for
        the current week. The special event registration opens 5 weeks before and closes 1 week before the
        event.</h5>
</div>