<div class="card card-body text-dark text-left">
    <img class="my-2 card-img" src="img/market-spaces/Parking.jpg">
    <h6 class="my-2"><%= parking.paragraph1 %></h6>
    <h6 class="my-2"><%= parking.paragraph2 %></h6>

</div>