<!-- Reservation Section -->
<section class="page-section bg-dark text-white" id="reservation">
    <div class="container text-center">
        <h1 class="mb-4">Reservation</h1>
        <hr class="divider my-4">

        <div class="row my-5">
            <div class="col-6 text-center">
                <a class="btn btn-light btn-xl reservation-btn" data-toggle="collapse" href="#multiCollapseExample1"
                   role="button"
                   aria-expanded="false" aria-controls="multiCollapseExample1">Weekly Market</a>
            </div>
            <div class="col-6 text-center">
                <a class="btn btn-light btn-xl reservation-btn" data-toggle="collapse" href="#multiCollapseExample2"
                   role="button"
                   aria-expanded="false" aria-controls="multiCollapseExample2">Spring Fling</a>
            </div>
        </div>
        <div id="reservation-box">
            <div class="collapse multi-collapse" id="multiCollapseExample1" data-parent="#reservation-box">
                <div class="row">
                    <div class="col-lg-6">
                        <img class="img-fluid map-rounded" src="img/market-spaces/Spaces - Main Field.jpg"
                             alt="Main Field">
                    </div>
                    <div class="col-lg-6 my-auto px-4 pt-4">
                        <form method="post" action="/">
                            <input type="hidden" id="eventType" name="eventDate" value="04-25-2020">
                            <div class="form-row">
                                <div class="form-group col-6">
                                    <label for="inputFirstName" class="text-white">First name</label>
                                    <input type="text" class="form-control" id="inputFirstName" name="firstName"
                                           maxlength="25"
                                           required>
                                </div>
                                <div class="form-group col-6">
                                    <label for="inputLastName" class="text-white">Last name</label>
                                    <input type="text" class="form-control" id="inputLastName" name="lastName"
                                           maxlength="25"
                                           required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputSell" class="text-white">Items being sold - NO FRANCHISE SALES</label>
                                <input type="text" class="form-control" id="inputSell" name="selling" maxlength="20"
                                       required>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-5">
                                    <label for="inputPhone" class="text-white">Phone number</label>
                                    <input type="tel" class="form-control" id="inputPhone" name="phone" maxlength="14"
                                           required>
                                </div>
                                <div class="form-group col-7">
                                    <label for="inputEmail" class="text-white">Email address</label>
                                    <input type="email" class="form-control" id="inputEmail" name="email" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputSpot" class="text-white">Choose a space</label>
                                <select id="inputSpot" class="form-control" name="spot">
                                    <option selected>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                    <option>8</option>
                                    <option>9</option>
                                    <option>Space #10</option>
                                    <option>Space #11</option>
                                    <option>Space #12</option>
                                    <option>Space #13</option>
                                    <option>Space #14</option>
                                    <option>Space #15</option>
                                    <option>Space #16</option>
                                    <option>Space #17</option>
                                    <option>Space #18</option>
                                    <option>Space #19</option>
                                    <option>Space #20</option>
                                    <option>Space #21</option>
                                    <option>Space #22</option>
                                    <option>Space #23</option>
                                    <option>Space #24</option>
                                    <option>Space #25</option>
                                    <option>Space #26</option>
                                    <option>Space #27</option>
                                    <option>Space #28</option>
                                    <option>Space #29</option>
                                    <option>Space #30</option>
                                    <option>Space #31</option>
                                    <option>Space #32</option>
                                    <option>Space #33</option>
                                </select>
                            </div>
                            <button type="button" class="btn btn-secondary btn-xl mt-3 col-8" data-toggle="modal"
                                    data-target="#exampleModalLong" id="reserve-button">Agree & Reserve
                            </button>

                            <p class="my-3 col-12" id="agreement-message"><i class="far fa-check-circle"></i>&nbsp;&nbsp;You've
                                agreed our term of services</p>
                            <button type="submit" class="btn btn-success btn-xl mt-3 col-8" id="pay-button" disabled>Pay
                                Now

                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title text-dark" id="exampleModalLongTitle">Term of
                                                Services</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p class="text-dark">
                                                <%- reservation.termOfServices %>
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                            </button>
                                            <button type="button" class="btn btn-success" data-dismiss="modal"
                                                    onclick="agreeTermOfService()">I Agree
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 my-5">
                        <button class="btn btn-dark" type="button" data-toggle="collapse"
                                data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            <i class="fas fa-chevron-circle-down"></i>&nbsp;&nbsp;Show parking information
                        </button>
                        <div class="collapse my-3" id="collapseExample">
                            <div class="card card-body text-dark">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                                squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                                sapiente ea proident.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="collapse multi-collapse" id="multiCollapseExample2" data-parent="#reservation-box">
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <img class="set-height d-block w-100" src="img/market-spaces/Spaces - Main Field.jpg"
                             alt="Main Field">
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <img class="set-height d-block w-100" src="img/market-spaces/Fountain.jpg" alt="Fountain">
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <img class="set-height d-block w-100" src="img/market-spaces/FellowshipHall.jpg"
                             alt="Fellowship Hall">
                    </div>
                    <div class="col-12 my-auto px-4 pt-4">
                        <form method="post" action="/">
                            <input type="hidden" id="eventType" name="eventDate" value="05-02-2020">
                            <div class="form-row">
                                <div class="form-group col-6">
                                    <label for="inputFirstName" class="text-white">First name</label>
                                    <input type="text" class="form-control" id="inputFirstName" name="firstName"
                                           maxlength="25"
                                           required>
                                </div>
                                <div class="form-group col-6">
                                    <label for="inputLastName" class="text-white">Last name</label>
                                    <input type="text" class="form-control" id="inputLastName" name="lastName"
                                           maxlength="25"
                                           required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputSell" class="text-white">Items being sold - NO FRANCHISE SALES</label>
                                <input type="text" class="form-control" id="inputSell" name="selling" maxlength="20"
                                       required>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-5">
                                    <label for="inputPhone" class="text-white">Phone number</label>
                                    <input type="tel" class="form-control" id="inputPhone" name="phone" maxlength="14"
                                           required>
                                </div>
                                <div class="form-group col-7">
                                    <label for="inputEmail" class="text-white">Email address</label>
                                    <input type="email" class="form-control" id="inputEmail" name="email" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputSpot" class="text-white">Choose a space</label>
                                <select id="inputSpot" class="form-control" name="spot">
                                    <option selected>Space #2</option>
                                    <option>Space #3</option>
                                    <option>Space #4</option>
                                    <option>Space #5</option>
                                    <option>Space #6</option>
                                    <option>Space #7</option>
                                    <option>Space #8</option>
                                    <option>Space #9</option>
                                    <option>Space #10</option>
                                    <option>Space #11</option>
                                    <option>Space #12</option>
                                    <option>Space #13</option>
                                    <option>Space #14</option>
                                    <option>Space #15</option>
                                    <option>Space #16</option>
                                    <option>Space #17</option>
                                    <option>Space #18</option>
                                    <option>Space #19</option>
                                    <option>Space #20</option>
                                    <option>Space #21</option>
                                    <option>Space #22</option>
                                    <option>Space #23</option>
                                    <option>Space #24</option>
                                    <option>Space #25</option>
                                    <option>Space #26</option>
                                    <option>Space #27</option>
                                    <option>Space #28</option>
                                    <option>Space #29</option>
                                    <option>Space #30</option>
                                    <option>Space #31</option>
                                    <option>Space #32</option>
                                    <option>Space #33</option>
                                    <option>Space FH #1</option>
                                    <option>Space FH #2</option>
                                    <option>Space FH #3</option>
                                    <option>Space FH #4</option>
                                    <option>Space FH #5</option>
                                    <option>Space FH #6</option>
                                    <option>Space FH #7</option>
                                    <option>Space FH #8</option>
                                    <option>Space FH #9</option>
                                    <option>Space FH #10</option>
                                    <option>Space FH #11</option>
                                    <option>Space FH #12</option>
                                    <option>Space FH #13</option>
                                    <option>Space FH #14</option>
                                    <option>Space FH #15</option>
                                    <option>Space FH #16</option>
                                    <option>Space FH #17</option>
                                    <option>Space Ftn #1</option>
                                    <option>Space Ftn #2</option>
                                    <option>Space Ftn #3</option>
                                    <option>Space Ftn #4</option>
                                    <option>Space Ftn #5</option>
                                    <option>Space Ftn #6</option>
                                    <option>Space Ftn #7</option>
                                    <option>Space Ftn #8</option>
                                    <option>Space Ftn #9</option>
                                    <option>Space Ftn #10</option>
                                    <option>Space Ftn #11</option>
                                </select>
                            </div>

                            <button type="button" class="btn btn-secondary btn-xl mt-3 col-12" data-toggle="modal"
                                    data-target="#termOfService-specialEvent" id="reserve-button-2">Agree & Reserve
                            </button>

                            <p class="my-3 col-12" id="agreement-message-2"><i class="far fa-check-circle"></i>&nbsp;&nbsp;You've
                                agreed our term of services</p>
                            <button type="submit" class="btn btn-success btn-xl mt-3 col-12" id="pay-button-2" disabled>
                                Pay Now
                            </button>
                            <div class="modal fade" id="termOfService-specialEvent" tabindex="-1" role="dialog"
                                 aria-labelledby="termOfService-specialEvent-Title" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title text-dark" id="termOfService-specialEvent-Title">Term
                                                of Services</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p class="text-dark">
                                                <%- reservation.termOfServices %>
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                            </button>
                                            <button type="button" class="btn btn-success" data-dismiss="modal"
                                                    onclick="agreeTermOfService2()">I Agree
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 my-5">
                        <button class="btn btn-dark" type="button" data-toggle="collapse"
                                data-target="#collapseExample2" aria-expanded="false"
                                aria-controls="collapseExample2">
                            <i class="fas fa-chevron-circle-down"></i>&nbsp;&nbsp;Show parking information
                        </button>
                        <div class="collapse my-3" id="collapseExample2">
                            <div class="card card-body text-dark">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                richardson ad
                                squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                                sapiente ea proident.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
