<div class="row my-5">
    <div class="col-6 text-center">
        <a class="btn btn-light btn-xl reservation-btn" data-toggle="collapse" href="#multiCollapseExample1"
           role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
            Weekly Market
        </a>
    </div>

    <div class="col-6 text-center">
        <a class="btn btn-light btn-xl reservation-btn" data-toggle="collapse" href="#multiCollapseExample2"
           role="button"
           aria-expanded="false" aria-controls="multiCollapseExample2"><%= specialEvent.specialEventTitle%></a>
    </div>
</div>
<div id="reservation-box">
    <div class="collapse multi-collapse" id="multiCollapseExample1" data-parent="#reservation-box">
        <%- include('single-weekly-market-form', {}); %>
    </div>

    <div class="collapse multi-collapse" id="multiCollapseExample2" data-parent="#reservation-box">
        <%- include('single-special-event-form', {}); %>
    </div>
</div>
