a {
    color: #f54940;
}

#googleMapFrame, .map-rounded{
    border-radius: 8px;
}

.rounded-corner {
    border-radius: 15px;
}

.about-us-links, .about-us-links:hover {
    color: black;
    font-style: italic;
}

.nav-logo {
    background-image: url(../img/navLogo.png);
    padding-left: 70px;
    font-size: 110%;
    background-size: contain;
    background-repeat: no-repeat;
}

.bg-primary {
    background-color: #fff153 !important;
}

#mainNav .navbar-nav .nav-item .nav-link.active {
    color: #f54339 !important;
}


.btn-primary {
    color: #fff;
    background-color: #fff153;
    border-color: #ffff74;
}

hr.divider {
    border-color: #ffff74 !important;
}

.text-primary{
    color: #00650A !important;
}

.btn-success {
    color: #ffff74;
    background-color: #00650A;
}

hr.light {
    border-color: #fff !important;
}

#mainNav .navbar-nav .nav-item .nav-link:hover, #mainNav .navbar-nav .nav-item .nav-link:active {
    color: #00650A !important;
}

#mainNav .navbar-nav .nav-item .nav-link.active {
    color: #00650A !important;
}

@media only screen and (max-width: 600px) {
    #gallery {
        display: none;
    }
}

#special-event {
    background: url("../img/event Spring Fling washed.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#mainNav .navbar-nav .nav-item .nav-link {
    font-size: 104%;
}

#about {
    font-size: 120%;
    line-height: 180%;
}

#pay-button, #agreement-message {
    display: none;
}

@media (min-width: 992px) {
    #mainNav .navbar-nav .nav-item .nav-link {
        color: #00650A;
    }
    #mainNav .navbar-brand {
        color: #00650A;
    }
    #mainNav .navbar-brand:hover {
        color: #00650A;
    }
}

header.masthead {
    background: #fff153 ;
}


.text-success{
    color: #00650A !important;
}

.home-logo{
    background: url("../img/amber logo b.bmp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}