a, a:hover{
    color: #00650A;
}

img {
    image-orientation: from-image;
    max-width:1200px;
    max-height:937px;
    width: 100%;
    height: 100%;
}

#googleMapFrame{
    border-radius: 30px;
}

.rounded-corner {
    border-radius: 30px;
}

.nav-logo {
    background-image: url(../img/navLogo.png);
    padding-left: 70px;
    font-size: 110%;
    background-size: contain;
    background-repeat: no-repeat;
}

.bg-primary {
    background-color: #fff153 !important;
}

.btn-primary {
    color: #fff;
    background-color: #fff153;
    border-color: #ffff74;
}

hr.divider {
    border-color: #00650A !important;
}

.text-primary{
    color: #00650A !important;
}

.btn-success {
    color: #ffff74;
    background-color: #00650A;
}

hr.light {
    border-color: #fff !important;
}

#mainNav .navbar-nav .nav-item .nav-link:hover, #mainNav .navbar-nav .nav-item .nav-link:active {
    color: #00650A !important;
}

#mainNav .navbar-nav .nav-item .nav-link.active {
    color: #00650A !important;
}

@media only screen and (max-width: 600px) {
    #gallery {
        display: none;
    }
    .home-logo{
        display: none !important;
    }
}

#special-event {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#about {
    font-size: 120%;
    line-height: 180%;
}

#pay-button, #agreement-message, #pay-button-2, #agreement-message-2 {
    display: none;
}

@media (min-width: 992px) {
    #mainNav .navbar-nav .nav-item .nav-link {
        color: #00650A;
    }
    #mainNav .navbar-brand {
        color: #00650A;
    }
    #mainNav .navbar-brand:hover {
        color: #00650A !important;
    }
}

#home-page, #be-a-vendor {
    background: #4fc1c2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #eef557, #4fc1c2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #eef557, #4fc1c2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#contact, #what-is-available {
    background: #4fc1c2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #eef557, #4fc1c2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #eef557, #4fc1c2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.text-success{
    color: #00650A !important;
}

.home-logo{
    background: url("../img/home-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    animation-name: slide-in;
    animation-duration: 2s;
}

@keyframes slide-in {
  0%   {background-position:left;}
  100% {background-position:center;}
}

#announcement {
    background: #4fc1c2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef557, #4fc1c2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eef557, #4fc1c2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #4800ff;
}

#announcement h4 {
    line-height: inherit;
}


#reservation {
    color:#4800ff;
    background-color: #fff153;
}

.set-height {
    height: 350px !important; 
}

#wrapper {
    overflow-x: hidden;
}

#parking h6 {
    line-height: inherit;
}